/node_modules
/public/hot
/public/storage
/public/css/institucional.css
/public/css/app.css
/public/js/institucional.js
/public/js/app.js
/public/0.js
/public/1.js
/public/3.js
/public/4.js
/public/mix-manifest.json
/public/routes.js
/public/vendors~routes.js
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
nbproject/
.idea/
